name = "gemini-proxy"
main = "src/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# 强制部署到美国地区，避免地区限制问题
[placement]
mode = "smart"

# KV 存储绑定
[[kv_namespaces]]
binding = "TEMPLATES_KV"
id = "8e3e6c03ce7c4cee9df74663b8a4cce7"

[[kv_namespaces]]
binding = "USERS_KV"
id = "631bb0f9c32e4202ba7fe0f2bb17cb5a"

[[kv_namespaces]]
binding = "CHARACTERS_KV"
id = "ab353bdfd25145fdaa8e2fb375182da9"
